#_______________________________________________________________________________
#                                                                    build files
bin
obj

#_______________________________________________________________________________
#                                                      Visual Studio macOS files
.vs

#_______________________________________________________________________________
#                                                                    macOS files
.DS_Store

#_______________________________________________________________________________
#                                                                  Windows files
Thumbs.db

#_______________________________________________________________________________
#                                                             user project files
*.csproj.user

