<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Examples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Examples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Examples.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
        </Examples.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Examples.Properties.Settings>
            <setting name="Text" serializeAs="String">
                <value>Settings example</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
        </Examples.Properties.Settings>
    </applicationSettings>
</configuration>